body {
	background-color: #e5e5e5;
	margin: 0;
}

div#container {
	width: 900px;
	margin: auto;
	background-color: #ffffff;
	padding: 0 40px;
	-webkit-box-shadow: 0px 0px 50px #bbbbbb;
	box-shadow: 0px 0px 50px;
	line-height: 1.8;
}
header#pageheader {
	padding: 28px 0 0;
}
header#pageheader h1 {
	float: left;
	margin: 0;
}
header#pageheader p {
	text-align: right;
	padding-top: 0px;
	margin: 0;
}
nav {
	clear: both;
}
nav ul {
//	height: 40px;
	background: -webkit-linear-gradient(#f5deb3 0%, #d2b48c 50%, #d2b48c 51%,
		#deb887 100%);
	border-radius: 5px;
	padding: 0px;
	overflow: hidden;
}
nav ul li {float: left;
	list-style-type: none;
	margin: 8px;
	font-size: 18px;
	border-right: 1px solid #bdb76b;
	margin: 0;
}
nav ul li a	{display: block;
	padding: 10px;
	text-decoration: none;
	text-align: center;
	border-right: solid 1px rgba(225,225,225,0.2);

}
nav ul li a:link {
	color: #000000;
}
nav ul li a:hover {
	background-color: rgba(1,122,205,0.3);
}
/*トップページ写真へのリンクに対して*/
.alpha a {
	text-decoration: none;
}
.alpha a:hover img {
	opacity: 0.7;
}
.alpha figcaption {
	display: block;
	font-size: 20px;
}
article header {
	border: solid 1px #aaaaaa;
	margin: 20px 0;
	border-radius: 5px;
	padding: 0 15px;
}
article section h1 {
	margin-top: 0;
	border-left: solid 15px #7cfc00;
}
figcaption {
	font-size: 15px;
	line-height: 1.2;
}
/*フッター*/
footer {
	border-top: solid 1px #aaaaaa;
}
/*トップページの文章*/
div#topcomment {
	text-align: center;
	padding: 20px 0;
	color: #dc143c;
}
div#topcomment a {
	text-decoration: none;
	color: #dc143c;
}
div#topcomment a:hover {
	cursor: text;
}
/*トップページの文章*/
article header p a {
	text-decoration: none;
	color: #000000;
}
article header p a:hover {
	cursor: text;
}
/*トップページの背景画像*/
#topcomment {
	background-image: url(src/top/topimg_hedear.jpg);
}
/*セクションタイトルふりがな*/
.hurigana{
	line-height: 1;
	margin: 30px 0 0 15px;
	font-size: 14px;
}
/*セクション画像に対してフロート*/
.itemphot {
	float: left;
	margin-right: 20px;
}
/*フロートの解除*/
.clear {
	clear: both;
}
/*トップページ初めの画像に対してフロート*/
.top_img_first {
	float: left;
}
/*トップページの画像にbox-sizingを適用する*/
.box-sizing {
	display: -webkit-box;
}
/* ３段組 */
div #sandan {
	display: -webkit-box;
	}
article section {width: 288px;
	margin-right: 18px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: visible;}

article section h1 {height: 48px;
//	line-height: 1.2;}

.itemphot_2
	{flot:none;
		margin: 0;}